* {
  font-family: Georgia, serif;
  color: #040327;
}

.body__outline {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.manifesto {
  padding: 10px;
}

.heading {
  color: #ffffff;
  border-radius: 8px;
  position: relative;
  margin: 0 auto;
  width: auto;
}

.hero {
  font-size: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10%;
}

.lite-blue {
  background: #e3f3fa;
  border-right: 4px solid #0986bc;
  display: flex;
}

.blue {
  background: #7ecbeb;
  border-left: 4px solid #0986bc;
  display: flex;
}

.navy {
  background: #5651e2;
  border-right: 4px solid rgb(7, 94, 131);
  display: flex;
}

.green {
  background: #7fe7bf;
  border-left: 4px solid #0f8156;
  border-radius: 8px;
  position: relative;
  margin: 0 auto;
  width: auto;
}

.hero-text {
  flex: 1;
  min-width: 300px;
  position: relative;
  z-index: 1;
}

.left {
  border-left: 4px solid #0986bc;
  float: left;
  flex: 1;
  width: 50%;
  padding: 2rem;
}

.right {
  border-left: 4px solid #0986bc;
  float: right;
  flex: 1;
  padding: 2rem;
  width: 50%;
}

.hero-center {
  padding: 8px 16px;
  margin: 0 auto;
  background: #78cbee;
}

.list {
  list-style-type: circle;
}

p {
  margin-bottom: 30px;
  gap: 25px;
}

/* Mobile stuff */
@media screen and (max-width: 768px) {
  .body__outline {
    flex-direction: column;
  }
}
