.button {
  align-items: center;
  background: linear-gradient(to top, #3091db, #2eeccd);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.2rem;
  gap: 1rem;
  height: auto;
  justify-content: center;
  margin: 0.5rem;
  padding: 8px 16px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
  width: auto;
  white-space: nowrap;
}

.button.admin {
  background: linear-gradient(to top, #ce205a, #d06f8e);
}

.button.approve {
  background: linear-gradient(to top, #08be54, #7fe9a4);
}
.button.flagged {
  background: linear-gradient(to top, #ea3c3c, #d06f8e);
}

.button.leader {
  background: linear-gradient(to top, #ce20c8, #e48ae1);
}

.button.member {
  background: linear-gradient(to top, #0b632b, #8be7ad);
}


.button.superadmin {
  display: none;
}

.button:hover {
  background: #0a8bb7;
  font-weight: bold;
  color: white;
}

#deleteQuestion {
  background: linear-gradient(to top, #e11111, #d18010);
  color: black;
}

.save-button {
  background: white;
}

.left-btn {
  text-align: left;
}
.center-btn {
  text-align: center;
}

.right-btn {
  text-align: right;
}
