/* ====== Cards ======== */
/* ====== Public Member Profile ======== */

.member-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.member-card.public {
  background: #b7eff7;
}

.member-card-public img:hover {
  background: none;
  transform: scale(2);
}

.member-card.preview {
  background: #57e475;
}

.member-card.assign {
  background: #e9c4b6;
}

.member-card.review {
  background: #c49acd;
}

.member-card {
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  border: 1px solid #ddd;
  transition: transform 0.2s ease;
  min-width: 250px;   
  max-width: 350px;   
}

.profile-card {
  word-wrap: break-word;
}

.member-card:hover {
  transform: translateY(-5px);
}



.card.user-profile {
  width: 50%;
}
