/* ====== Colors and borders ======== */
.lite-blue {
  background: #e3f3fa;
  border-left: 4px solid #0986bc;
  padding-bottom: 15px;
  padding-top: 15px;
}

.blue {
  background: #7ecbeb;
  border-left: 4px solid #0986bc;
  padding-bottom: 15px;
  padding-top: 15px;
}

.bBlue-bgBlue {
  background: #a6d7ec;
  border-left: 4px solid #0986bc;
  padding-bottom: 15px;
  padding-top: 15px;
}

.bPink-bgYellow {
  background: #eae47c;
  border-left: 4px solid #df4cab;
  padding-bottom: 15px;
  padding-top: 15px;
}

.bRed-bgRed {
  background: rgb(247, 219, 219);
  border-left: 4px solid red;
  padding-bottom: 15px;
  padding-top: 15px;
}

.bOrange-bgYellow {
  background: rgb(241, 243, 163);
  border-left: 4px solid orange;
  padding-bottom: 15px;
  padding-top: 15px;
}

.bGreen-bgGreen {
  background: #7fe7bf;
  border-left: 4px solid #0f8156;
  padding-bottom: 15px;
  padding-top: 15px;
}

.bNavy-bgBlue {
  background: rgb(177, 177, 235);
  border-left: 4px solid blue;
  padding-bottom: 15px;
  padding-top: 15px;
}

.bPurple-bgViolet {
  background: rgb(217, 158, 217);
  border-left: 4px solid purple;
  padding-bottom: 15px;
  padding-top: 15px;
}

.guiding-principle {
  background: rgb(220, 236, 212);
  border-left: 4px solid rgb(34, 85, 7);
  padding-bottom: 15px;
  padding-top: 15px;
}

.bgPoem {
  background: white;
  border-right: 4px solid black;
  padding-bottom: 15px;
  padding-top: 15px;
}





/* -global-color-primary: #532C6E;
    --e-global-color-secondary: #038FD8;
    --e-global-color-text: #1C252C;
    --e-global-color-accent: #25CBD3;
    --e-global-color-e70db1a: #773CBE;
    --e-global-color-c17f5ae: #1675A9;
    --e-global-color-46a40ec: #303E48;
    --e-global-color-861d680: #0099A8;
    --e-global-color-9532888: #EAE83C;
    --e-global-color-d9c0d29: #DCDE00;
    --e-global-color-f614dce: #33277C;
    --e-global-color-c378615: #050D3B;
    --e-global-color-4561d9f: #F4F9FD; */