
img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  position: sticky;
}

.why-image {
  width: 500px;
  height: auto;
  overflow: hidden;
}

.image-caption {
  color: #555;
  display: block;
  font-size: 0.9rem;
  text-align: center;
}

img:hover {
  /* -webkit-transform:scale(1.5);  */
  /* transform:scale(1.5); */
}


/* PHOTOs */
.profile-image-preview img {
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-top: 1rem;
}
