img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  position: sticky;
}

.image-caption {
  color: #555;
  display: block;
  font-size: 0.9rem;
  text-align: center;
}

.drop-zone {
  border-color: #045542;
  border-radius: 8px;
  border-width: 5px;
}

.drop-zone button {
  
}

.why-image {
  width: 500px;
  height: auto;
  overflow: hidden;
}

img:hover {
  /* -webkit-transform:scale(1.5);  */
  /* transform:scale(1.5); */
}

/* PHOTOs */
.profile-image-preview img {
  border-radius: 25%;
  border: 2px solid #ccc;
  margin-top: 1rem;
  height: 100%;
  width: 100%;
}
