@import './Body.css';
@import './Button.css';
@import './Card.css';
@import './Column.css';
@import './Colors.css';
@import './Hero.css';
@import './Image.css';
@import './List.css';
@import './Message.css';
@import './QuestionForm.css';
@import './Tab.css';
@import './Tables.css';
@import './TextInput.css';

/* -global-color-primary: #532C6E;
    --e-global-color-secondary: #038FD8;
    --e-global-color-text: #1C252C;
    --e-global-color-accent: #25CBD3;
    --e-global-color-e70db1a: #773CBE;
    --e-global-color-c17f5ae: #1675A9;
    --e-global-color-46a40ec: #303E48;
    --e-global-color-861d680: #0099A8;
    --e-global-color-9532888: #EAE83C;
    --e-global-color-d9c0d29: #DCDE00;
    --e-global-color-f614dce: #33277C;
    --e-global-color-c378615: #050D3B;
    --e-global-color-4561d9f: #F4F9FD; */