.popup-success {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: hsl(105, 76%, 87%);
  color: #2d662d;
  padding: 1rem 1.25rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.25rem;
  color: #2d662d;
  cursor: pointer;
}

.msg-wrapper {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.msg-error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.msg-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border: 1px solid #bee5eb;
}

.msg-success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}


.msg-warn {
  color: #856404;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
}

.msg-text {
  font-size: 1rem;
  text-align: center;
}

.password-rules {
  list-style: none;
  padding: 0;
  margin-left: 20px;
  font-size: 0.9rem;
}

.password-rules li.valid {
  color: rgb(3, 43, 3);
  text-decoration: underline;
}

.password-rules li.invalid {
  color: rgb(37, 2, 2);
  font-weight: bold;
}

.required {
  color: rgb(172, 66, 9);
  margin-left: 0.25rem;
}

/* styles/ReviewNote.css */
.warning-box {
  background-color: #fff3cd;
  border-left: 5px solid #f5c518;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  color: #856404;
  font-size: 0.95rem;
}
