/* ====== CHECKBOX ======== */
.checkbox-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
}

.qst-opt {
  display: inline;
  flex-direction: column;
}

.check-box {
  height: 20px;
  width: auto;
}

/* ====== Question Styling  
Do not lose this code ====== */
.card-qst {
  border-radius: 20px;
  flex-direction: column;
  margin-bottom: 50px;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.check-grade {
  width: 5%;
  height: 25px;
}

.check-grade:hover {
  background-color: 5px solid #2785ad;
}

.card-qst:hover {
  font-size: 1.5rem;
}

.qst-head {
  font-weight: bold;
}

.qst-false {
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
}
.qst-true {
  font-size: 1.2rem;
  font-weight: bold;
  color: green;
}
.radio-button {
  width: 10%;
}
.radio-row {
  display: flex;
}

/* ============= */
.option-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.check-box {
  width: 50%;
  height: 25px;
}

.ddl-chapter {
  margin: 25px;
  width: auto;
}
