/* ====== CHECKBOX ======== */
.checkbox-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
}

.text-checkbox {
  display: inline;
}

.check-box {
  height: 20px;
  width: auto;
}

.check-box:hover {
  background-color: #ccc;
}

.question-card {
  background: #fff;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.option-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.check-box {
  width: 50%;
  height: 25px;
}

.check-grade {
  width: 5%;
  height: 25px;
}
