
/* ====== CHECKBOX ======== */
.checkbox-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
}

.check-box {
  height: 20px;
  width: auto;
}

.check-box:hover {
  background-color: #ccc;
}

.option-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

