
.custom-country-input {
padding: 2rem;
}

.error-msg {
    color: red;
}

.register-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}

select {
  padding: 8px;
  width: auto%;
  border-radius: 4px;
}

.dob-group {
  margin-bottom: 1rem;
}

.dob-row {
  display: flex;
  gap: 1rem;
}

.password-rules {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  font-size: 0.9rem;
}

.password-rules li.valid {
  color: rgb(3, 43, 3);
  text-decoration: underline;
}

.password-rules li.invalid {
  color: rgb(13, 1, 1);
  font-weight: bold;
}

.toggle-password {
  background: none;
  border: none;
  font-size: 0.9rem;
  color: #007bff;
  cursor: pointer;
  margin-left: 8px;
}

/* Mobile stuff */
@media screen and (max-width: 768px) {
  .register-page {
    flex-direction: column;
  }
}
