/* confirm-message
success-popup
select-ddl
password-field
email-field
*/

*{
  border-radius: 5px;
}
.custom-country-input {
  padding: 2rem;
}

.ddl-select {
  
}

.ddl-group {
  display: flex;
  gap: 2rem;
}
em {
  font-size: 0.9rem;
  color: #666;
  margin-top: 4px;
}

.error-msg {
  color: red;
  font-size: 1rem;
  margin-top: 0.25rem;
}

.group-links{

}

input {
  width: 90%;
  padding: 8px;
  font-size: 1.1rem;
  border: 1px solid #073c53;
}

label {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.bullet-no {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
  font-size: 0.95rem;
}

.bullet-no li {
  margin-bottom: 0.5rem;
}


#numField{
  width: 30%;
  margin-bottom: 5px;
}

.password-rules {
  list-style: none;
  padding: 0;
  margin-left: 20px;
  font-size: 0.9rem;
}

.password-rules li.valid {
  color: rgb(3, 43, 3);
  text-decoration: underline;
}

.password-rules li.invalid {
  color: rgb(37, 2, 2);
  font-weight: bold;
}

.required {
  color: red;
  margin-left: 0.25rem;
}

select {
  font-size: 1.1rem;
  height: auto;
  padding: 8px;
}

#text-area{
  width: 90%;
  padding: 8px;
  font-size: 1.1rem;
  border: 1px solid #073c53;
}

.text-center {
  text-align: center;
}

.toggle-password {
  background: none;
  border: none;
  font-size: 0.9rem;
  color: #007bff;
  cursor: pointer;
  margin-left: 8px;
}

.toggle-intro-btn {
  background: none;
  border: none;
  color: #04416b;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
  margin-left: 4px;
}
