/* ======== TEXT INPUT ============ */

* {
  border-radius: 5px;
}

/* ======== DROP DOWN LIST / SELECT ============ */
.ddl-group {
  display: flex;
  gap: 25px;
}

select {
  font-size: 1.1rem;
  height: auto;
  padding: 10px;
}

/* ======== DISPLAY TEXT ============ */

em {
  font-size: 0.9rem;
  color: #666;
  padding-bottom: 2px;
}

.role-display {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 1rem;
}

label {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

#yearsExperience {
  width: 30%;
  margin-bottom: 5px;
}

/* ======== INPUT / TEXT FIELD ============ */

input {
  width: 90%;
  padding: 8px;
  font-size: 1.1rem;
  border: 1px solid #073c53;
}

/* ======== PASSWORD TOGGLE HIDE SHOW ============ */

.toggle-password {
  background: none;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  color: #011e3d;
  cursor: pointer;
  margin-left: 8px;
}

.btn-toggle-intro {
  background: none;
  border: none;
  color: #04416b;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
  margin-left: 4px;
}

/* ========= Rich Text Editor ======== */
.ql-container {
  overflow: auto !important;
  z-index: 0 !important;
}

.ql-toolbar {
  z-index: 1;
}

.ql-editor {
  z-index: 0;
  position: relative;
}
