* {
  border-radius: 5px;
}

.ddl-group {
  display: flex;
  gap: 2rem;
}

em {
  font-size: 0.9rem;
  color: #666;
  margin-top: 4px;
}

.role-display {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 1rem;
}

input {
  width: 90%;
  padding: 8px;
  font-size: 1.1rem;
  border: 1px solid #073c53;
}

label {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

#yearsExperience {
  width: 30%;
  margin-bottom: 5px;
}

select {
  box-sizing: border-box;
  font-size: 1.1rem;
  height: auto;
  padding: 10px;
  background: transparent;
  width: auto;
}

textarea {
  width: 90%;
  padding: 8px;
  font-size: 1.1rem;
  border: 1px solid #073c53;
}

.text-center {
  text-align: center;
}

.toggle-password {
  background: none;
  border: none;
  font-size: 0.9rem;
  color: #007bff;
  cursor: pointer;
  margin-left: 8px;
}

.toggle-intro-btn {
  background: none;
  border: none;
  color: #04416b;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
  margin-left: 4px;
}
